@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: JockeyOne;
  src: url(JockeyOne-Regular.ttf);
}
@font-face {
  font-family: Kanit;
  src: url(Kanit-Regular.ttf);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.maindiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  align-content: center;
  
}

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}


.cursor{
  background-color: #111;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;


}

.bigtext {
display: flex;
flex-wrap:wrap;
flex-direction: row;
justify-content: center;
align-self: center;
text-align: center;
gap: 2em;
height: 30vw;
}


.animatedText {
  color: white;
  font-size: 21vw;
  font-family: JockeyOne;
  text-align: center;
  transition-duration: 250ms;
}

.animatedText:hover {
  font-size: 21.3vw;
  transition-duration: 250ms;
}

.text {
  color: #0038FF;
  font-family: JockeyOne;
  font-size: 21vw;
  text-align: center;
  transition-duration: 250ms;

}

.text:hover {
  font-size: 21.3vw;
  transition-duration: 250ms;
}

.profile{
  position:-ms-page;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0px;
  bottom: 0px;
  gap: 30px;
  flex-direction: row;

}

.imgname {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  overflow: hidden;
}


.logo {
  width: 12em;
}

.name {
color: #FFF;
text-align: center;
font-size: 4em;
font-family: JockeyOne;
}

.aboutme{
  color: #FFF;
  text-align: center;
  font-size: 1.5em;
  font-family: Kanit;

  display: flex;

  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 100%;
  min-width: 350px;
}


.testcolor {
  filter: invert(0.9);
  width: 3em;
  transition-duration: 250ms;

  
}

.testcolor:hover {
  filter: invert(1);
  width: 3.5em;
  transition-duration: 250ms;
}


.abmedia {
  width: 30%;
  max-width: 85%;
  min-width: 350px;
  gap: 3.5em;
}

.medialist {
  height: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self: center;
}


.logolink {
  display: hidden
}

.dl{
  margin-bottom: 10px;
  gap: 50px;
}

.dls {
  display: flex;
  gap: 10px;
  padding: 10px;
  width: 98%;
  border-radius: 20px;
  border-color: #FFF;
}